[Unit]
Description=fortran-load

[Service]
User=hss
WorkingDirectory=/mnt/DATA/load

ExecStart=/usr/local/bin/fortran-load --wd '/mnt/DATA/load' --table 'TEPCO'

# Intel
#Environment = "MKL_ENABLE_INSTRUCTIONS=SSE4_2"
#ExecStart=/bin/bash -c "source /opt/intel/oneapi/setvars.sh && /usr/local/bin/fortran-load --wd '/mnt/DATA/load' --table 'TEPCO'"

[Install]
WantedBy=multi-user.target

# For specifiers
# https://www.freedesktop.org/software/systemd/man/latest/systemd.unit.html#Specifiers
